html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid,
.row {
    height: 100%;
}

#show-page-btn {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: opacity 1.3s ease-in-out,
                scale 1.3 ease-in-out;
}

#show-page-btn.fade {
    transform: opacity(0) scale(1.3);
}

#curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#page-content {
    position: relative;
    z-index: 1;
}

.landing-description {
    background-color: #F9CCCa;
}

.x-collapse-to-left {
    height: auto;
    overflow: hidden;
    transform-origin: left;
    transition: transform 1.3s ease-out;
  }
  
  .x-collapse-to-left.collapsed {
    transform: translateX(-100%);
  }

  .x-collapse-to-right {
    height: auto;
    overflow: hidden;
    transform-origin: right;
    transition: transform 1.3s ease-out;
  }
  
  .x-collapse-to-right.collapsed {
    transform: translateX(100%);
  }
  

.products-container {
    background-color: #AED6F1;
}

.cart-container {
    background-color: #FFF2CC;
}

.landing-hero-image {
    background-color: #C5E5D5;
}