*, *::after, *::before {
    box-sizing: border-box;
}

/* Ex. 1 */
.container div {
    display: inline-block;
}

/* Ex. 2 */
.container div:nth-child(2n + 2) {
    border: 1px solid red;
}

/* Ex. 3 */
.container div:nth-child(2n + 1) span:nth-child(2n + 2) {
    color: green;
}

/* Ex. 4 */
.container div:nth-child(2) span:last-of-type {
    color: blue;
}

/* Ex. 5 */
.container div:nth-child(6) span:not(:last-of-type) {
    color: yellow;
}

/* Ex. 6 */
.container div {
    position: relative;
}

.container span:first-of-type {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

/* Ex. 7 */
.container span:nth-child(2) {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Ex. 8 */
.container div:last-of-type span:last-of-type {
    position: absolute;
    bottom: 50%;
    right: -15px;
    transform: translateY(50%);
}

/* Ex. 9 */
.container div:first-of-type span:last-of-type {
    position: absolute;
    bottom: 50%;
    left: -15px;
    transform: translateY(50%);
}

/* Ex. 10 */
/* Did not understand the question */